* {
    xbg:    #0c121b;
    xfg:    #b7b0d1;
    x0:     #221f3a;
    x1:     #796ac2;
    x2:     #5c308a;
    x3:     #b1a7db;
    x4:     #504397;
    x5:     #463c8f;
    x6:     #4c2777;
    x7:     #d3c0f5;
    x8:     #9791b0;
    x9:     #9184cd;
    x10:    #b499f0;
    x11:    #e9eaf4;
    x12:    #a5a6d2;
    x13:    #5b4ba0;
    x14:    #6b35a3;
    x15:    #c8c9e4;
}

